/* You can add global styles to this file, and also import other style files */
.wrapper {
    max-width: 800px;
    margin: 0 auto;
    box-sizing: border-box;
}

.wrapper-fluid {
    max-width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}
body {
    padding-bottom: 100px;
}
body, html {
    background-color: #fafafa;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    position: relative;
}

.grid-2, .grid-3 {
    overflow: hidden;
    display: flex;
}

.grid-2 .col-1 {
    width: 50%;
    box-sizing: border-box;
}

.grid-3 .col-1 {
    width: 33.33%;
    box-sizing: border-box;
    align-self: center;
}


.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.cards {
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
}

.card {
    box-sizing: border-box;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    background-color: #fff;
    margin-bottom: 30px;
    margin-left: 30px;
    width: 100%;
    max-width: calc(33.33% - 30px);
    cursor: pointer;
}

.card--lg {
    width: auto;
    cursor: auto;
    margin: 0 auto;
    max-width: 800px;
}
.card--lg img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
.card__header {
    padding: 16px;
    border-bottom: 1px solid #efefef;
}

.card__owner-initial {
    display: inline-block;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    background-color: #efefef;
    text-transform: uppercase;
    border-radius: 100%;
    margin-right: 10px;
}

.card__media {
    background-repeat: repeat;
    background-size: cover;
    background-position: top center;
    height: 400px;
}
.card__footer {
    box-sizing: border-box;
    width: 100%;
    border-top: 1px solid #efefef;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 20px;
}
.card__body {
    padding: 20px;
}
.card__views {
    font-size: 10px;
    color: #999;
}

.no-wrap {
    white-space: nowrap;
}

@media (max-width: 1020px) {
    .card {
        max-width: calc(50% - 30px);
    }
}

@media (max-width: 665px) {
    .card {
        max-width: 100%;
        margin-left: 0;
    }
    .cards {
        margin-left: 0;
    }

}